<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://datas.portalnesia.com/beta/android-index.json" />
    </application>
</manifest>
